html {
  background-image: url('./fiona-smallwood-5CDgTxCkEAM-unsplash.jpg');
  background-position: center;
  background-size: fit;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1vh;

}

h1{
  font-size: 5em;
  margin: 50px auto;
}
.card-deck{
  justify-content: center;
  margin-top: 10px;
  background: transparent;
}

.card-body{
  text-align: left;
  
}

.card-title{
  text-align: center;
  font-size: 2em;
  background-color: #88CCFF;
  
}

.labeltext{
  font-style: italic;
  font-weight: bold;
  padding-left: 15px;
}